server/flows.json
[{"id":"75248455.b28c8c","type":"tab","label":"Login","disabled":false,"info":""},{"id":"51de7640.850408","type":"tab","label":"API Forward","disabled":false,"info":""},{"id":"366a3132.59cece","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"d2503df2.2c8ab","type":"tab","label":"API","disabled":false,"info":""},{"id":"fb7e288d.6d7eb8","type":"subflow","name":"Cors-headers","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"9ee08a48.3d95c"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"9ee08a48.3d95c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"77c340eb.37e7e8","type":"subflow","name":"get one","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"c3120e40.25806"}]}],"out":[{"x":1020,"y":80,"wires":[{"id":"cb071ef0.e66178","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c1fe0065.93f72","type":"subflow","name":"Get profile data","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"ef6f297.dd153d8"}]}],"out":[{"x":1380,"y":120,"wires":[{"id":"d8cb8fc6.bb93b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6add85ca.568dc4","type":"subflow","name":"Get all profiles","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"da5be880.8fa718"}]}],"out":[{"x":1440,"y":300,"wires":[{"id":"120181fa.6876be","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5609202b.02d8e","type":"subflow","name":"Get profile info","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"17ce87a9.4ccf58"}]}],"out":[{"x":1280,"y":100,"wires":[{"id":"19a782d3.43c73d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7b34e624.475d1","type":"subflow","name":"Create query","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"e526a8ec.b6dbc8"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"e526a8ec.b6dbc8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ba18fc33.5ff8f","type":"subflow","name":"Detect door","info":"","category":"","in":[{"x":40,"y":80,"wires":[]}],"out":[{"x":1340,"y":220,"wires":[]}],"env":[],"color":"#DDAA99"},{"id":"ba387a07.20941","type":"subflow","name":"Replace queries with data from Eupry","info":"","category":"","in":[{"x":60,"y":320,"wires":[{"id":"24261056.90b99"}]}],"out":[{"x":1400,"y":220,"wires":[{"id":"76796306.ea4bd4","port":0}]}],"env":[]},{"id":"59985679.a0c38","type":"subflow","name":"Get areas","info":"","category":"","in":[{"x":100,"y":280,"wires":[{"id":"b3fd8a97.b11188"}]}],"out":[{"x":820,"y":240,"wires":[{"id":"5130c0f4.2f46d8","port":0}]}],"env":[]},{"id":"cf9207f9.5b7e9","type":"subflow","name":"Format start/stop","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"201b039.fbb757c"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"201b039.fbb757c","port":0}]}],"env":[]},{"id":"d40564b2.7cd5b8","type":"subflow","name":"Get items","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"e3a9fd55.df71b"}]}],"out":[{"x":1280,"y":420,"wires":[{"id":"6b71fe05.2f572","port":0}]}],"env":[]},{"id":"b14e0716.67d4","type":"subflow","name":"Set","info":"","category":"","in":[{"x":40,"y":240,"wires":[{"id":"17312505.641553"}]}],"out":[{"x":1840,"y":220,"wires":[{"id":"f8b0ab09.44bef","port":0},{"id":"c4f93914.c9815","port":0},{"id":"199239ea.1d4f46","port":0},{"id":"ee4415e9.e48a98","port":0},{"id":"f96fc1ca.c39aa","port":0}]}],"env":[]},{"id":"792015e8.9c4d54","type":"subflow","name":"Set alarm config on Eupry","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"2264f21d.66cd5e"}]}],"out":[],"env":[]},{"id":"74aefff3.17838","type":"subflow","name":"Area query","info":"","category":"","in":[{"x":20,"y":320,"wires":[{"id":"a45d003d.eb9618"}]}],"out":[{"x":1640,"y":120,"wires":[{"id":"c5d167d1.2ef57","port":0}]}],"env":[]},{"id":"a02bf0f4.35213","type":"subflow","name":"Get transports","info":"","category":"","in":[{"x":100,"y":320,"wires":[{"id":"d53318dc.c65be"}]}],"out":[{"x":2840,"y":120,"wires":[{"id":"cf08509a.fb053","port":0}]}],"env":[]},{"id":"abc509a9.fd5ef","type":"subflow","name":"Format mgraph","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"8ce481e4.1d4368"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"8ce481e4.1d4368","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"618f0782.850e5","type":"sqlitedb","db":"/data/database.db","mode":"RWC"},{"id":"c6c74ceb.b18cf8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"eb36a104.bba118","type":"ui_group","name":"Admin login","tab":"c6c74ceb.b18cf8","order":1,"disp":true,"width":"6","collapse":false},{"id":"23f46fa8.9884","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3dc2086.7fd5c78","type":"http in","z":"75248455.b28c8c","name":"","url":"/api/login","method":"get","upload":false,"swaggerDoc":"","x":130,"y":160,"wires":[["556668e8.5ac7b8"]]},{"id":"556668e8.5ac7b8","type":"function","z":"75248455.b28c8c","name":"API call","func":"// Login like this: /login?email=soa@eupry.com&password=coop12\n\nmsg.url = \"https://vaccine.eupry.com/api/login\"\n\nreturn msg;\n\n\n// {\"email\":\"soa@eupry.com\",\"password\":\"coop1234\",\"remember\":false}","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["9237daf2.051828"]]},{"id":"9237daf2.051828","type":"http request","z":"75248455.b28c8c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":160,"wires":[["37bb1cd3.340e8c"]]},{"id":"ce67d746.c5c4a8","type":"http response","z":"75248455.b28c8c","name":"","statusCode":"","headers":{},"x":1090,"y":160,"wires":[]},{"id":"9ee08a48.3d95c","type":"function","z":"fb7e288d.6d7eb8","name":"Cors-headers","func":"msg.headers = {};\n\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\n\n//msg.headers[\"Access-Control-Allow-Origin\"]= \"http://localhost:8000\";\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"6e4d6018.898f7","type":"subflow:fb7e288d.6d7eb8","z":"75248455.b28c8c","name":"","env":[],"x":900,"y":160,"wires":[["ce67d746.c5c4a8"]]},{"id":"37bb1cd3.340e8c","type":"function","z":"75248455.b28c8c","name":"set session cookies","func":"var idArray = global.get(\"idArray\") || [];\n\nvar id = Date.now().toString();\n\nmsg.payload = {status: \"Success\", id: id};\n\nidArray.push(id);\n\nglobal.set(id, msg.headers[\"set-cookie\"])\nglobal.set(\"idArray\", idArray)\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":160,"wires":[["6e4d6018.898f7"]]},{"id":"6aeafdef.030454","type":"inject","z":"75248455.b28c8c","name":"Every night","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["8f349e70.787ed"]]},{"id":"8f349e70.787ed","type":"function","z":"75248455.b28c8c","name":"Remove old IDs","func":"var idArray = global.get(\"idArray\");\nvar now = Date.now();\n\nfor (var i = 0; i < idArray.length; i++) {\n    if ((now - idArray[i]) > 1000 * 60 * 60 * 24 * 2) { // 2 day\n        global.set(idArray[i], undefined);\n        idArray.splice(i, 1);\n        i--;\n    }\n\n}\n\nglobal.set(\"idArray\", idArray);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":280,"wires":[[]]},{"id":"4b6e02db.fe389c","type":"http in","z":"51de7640.850408","name":"","url":"/api/forward","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["32c10009.ee3a8"]]},{"id":"32c10009.ee3a8","type":"function","z":"51de7640.850408","name":"Split input and add cookie","func":"/*msg.url = \"location/2588/profile/7632/graph?res=1&start=1582243200&end=1582282559&token=\"*/\n\nvar parsedUrl = msg.req.url.split(\"/api/forward?api=\")[1].split(\"&id=\")\nvar api = parsedUrl[0]\nvar id = parsedUrl[1]\n\nmsg.url = \"https://vaccine.eupry.com/api/\" + api\n\n\nmsg.headers = {\n    Cookie: global.get(id)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["f56a1693.0c8cc8","58b4bfaa.3359c"]]},{"id":"58b4bfaa.3359c","type":"http request","z":"51de7640.850408","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":630,"y":420,"wires":[["2e49358b.2cb1da"]]},{"id":"2e49358b.2cb1da","type":"json","z":"51de7640.850408","name":"","property":"payload","action":"","pretty":false,"x":770,"y":340,"wires":[["bd37b439.20af1"]]},{"id":"bd37b439.20af1","type":"subflow:fb7e288d.6d7eb8","z":"51de7640.850408","name":"","env":[],"x":1320,"y":340,"wires":[["496200e5.6eb32"]]},{"id":"496200e5.6eb32","type":"http response","z":"51de7640.850408","name":"","statusCode":"","headers":{},"x":1470,"y":340,"wires":[]},{"id":"44861ec6.25cb3","type":"http in","z":"d2503df2.2c8ab","d":true,"name":"","url":"/api/loc/:loc/pro/:pro","method":"get","upload":false,"swaggerDoc":"","x":130,"y":320,"wires":[["cdb23033.6159b8"]]},{"id":"f3d586fa.2927f","type":"split","z":"c1fe0065.93f72","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":120,"wires":[["aa59b527.828d5"]]},{"id":"d8cb8fc6.bb93b8","type":"join","z":"c1fe0065.93f72","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1230,"y":120,"wires":[[]]},{"id":"c3120e40.25806","type":"function","z":"77c340eb.37e7e8","name":"Set payload","func":"let url = \"https://vaccine.eupry.com/api/location/\"\n\nurl = url + msg.query.loc + \"/pro/\" + msg.query.pro + \"/\" + msg.payload + \"?start=\" + msg.query.start + \"&end=\" + msg.query.end + \"&res=\" + msg.query.res;\n\nmsg.url = url;\n\nmsg.headers = {\n    Cookie: global.get(msg.query.id)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["40dcee13.5b8e4"]]},{"id":"6a75e924.d58058","type":"http response","z":"d2503df2.2c8ab","name":"","statusCode":"","headers":{},"x":1140,"y":280,"wires":[]},{"id":"ef6f297.dd153d8","type":"function","z":"c1fe0065.93f72","name":"preprocces","func":"msg.payload = {\n    graph: \"mgraph\",\n    alarm: \"alert\",\n    config: \"config\",\n    status: \"status\",\n    door_opening: \"door_opening\",\n    button: \"button\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":120,"wires":[["f3d586fa.2927f"]]},{"id":"aa59b527.828d5","type":"switch","z":"c1fe0065.93f72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"mgraph","vt":"str"},{"t":"eq","v":"alert","vt":"str"},{"t":"eq","v":"config","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"eq","v":"door_opening","vt":"str"},{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":500,"y":120,"wires":[["5b9462ea.4051bc"],["92eab185.3245c8"],["df738184.05492"],["2e6938fa.246e48"],["dc7c0b63.d4dcc"],["2803aae8.eb9546"]]},{"id":"40dcee13.5b8e4","type":"http request","z":"77c340eb.37e7e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":390,"y":80,"wires":[["cb071ef0.e66178"]]},{"id":"cb071ef0.e66178","type":"json","z":"77c340eb.37e7e8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":80,"wires":[[]]},{"id":"5b9462ea.4051bc","type":"subflow:77c340eb.37e7e8","z":"c1fe0065.93f72","name":"mgraph","env":[],"x":760,"y":80,"wires":[["376e30ac.19f5c"]]},{"id":"92eab185.3245c8","type":"subflow:77c340eb.37e7e8","z":"c1fe0065.93f72","name":"alert","env":[],"x":750,"y":120,"wires":[["d8cb8fc6.bb93b8"]]},{"id":"df738184.05492","type":"subflow:77c340eb.37e7e8","z":"c1fe0065.93f72","name":"config","env":[],"x":750,"y":160,"wires":[["d8cb8fc6.bb93b8"]]},{"id":"86d21588.f74768","type":"function","z":"c1fe0065.93f72","name":"change keynames","func":"for (var i in msg.payload) {\n    delete Object.assign(msg.payload[i], {[\"x\"]: msg.payload[i][\"time\"] })[\"time\"];\n    delete Object.assign(msg.payload[i], {[\"y\"]: msg.payload[i][\"value\"] })[\"value\"];\n    delete Object.assign(msg.payload[i], {[\"y\"]: msg.payload[i][\"avg\"] })[\"avg\"];\n    msg.payload[i].x = msg.payload[i].x * 1000;  \n}\n\nreturn msg","outputs":1,"noerr":0,"x":610,"y":800,"wires":[[]]},{"id":"3a5c451e.d43102","type":"subflow:c1fe0065.93f72","z":"d2503df2.2c8ab","name":"","env":[],"x":600,"y":320,"wires":[["49589e99.d29b48"]]},{"id":"49589e99.d29b48","type":"subflow:fb7e288d.6d7eb8","z":"d2503df2.2c8ab","name":"","env":[],"x":930,"y":280,"wires":[["6a75e924.d58058"]]},{"id":"96d2a626.10fb78","type":"http in","z":"d2503df2.2c8ab","d":true,"name":"","url":"/api/loc/:loc","method":"get","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["a95cd5d4.75dd28"]]},{"id":"da5be880.8fa718","type":"function","z":"6add85ca.568dc4","name":"Get url","func":"let url = \"https://vaccine.eupry.com/api/location/\" + msg.query.loc + \"/pro\";\n\nmsg.url = url;\n\nmsg.headers = {\n    Cookie: global.get(msg.payload.id)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":100,"wires":[["a8d4c830.a9a09"]]},{"id":"a8d4c830.a9a09","type":"http request","z":"6add85ca.568dc4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":360,"y":100,"wires":[["5a850fb1.7d6ca8","41ed625d.c4af2c"]]},{"id":"5a850fb1.7d6ca8","type":"json","z":"6add85ca.568dc4","name":"","property":"payload","action":"","pretty":false,"x":530,"y":100,"wires":[["59dd0280.81d22c"]]},{"id":"59dd0280.81d22c","type":"split","z":"6add85ca.568dc4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":100,"wires":[["9c0c7bdb.0788c"]]},{"id":"120181fa.6876be","type":"join","z":"6add85ca.568dc4","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1310,"y":300,"wires":[[]]},{"id":"9c0c7bdb.0788c","type":"function","z":"6add85ca.568dc4","name":"","func":"msg.query.pro = msg.payload.id\n\nmsg.payload.data = \"data\"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":100,"wires":[["47e05d1d.f96e5c"]]},{"id":"47e05d1d.f96e5c","type":"split","z":"6add85ca.568dc4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":950,"y":100,"wires":[["cec2b454.8585c8"]]},{"id":"5e6b189f.347998","type":"join","z":"6add85ca.568dc4","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1310,"y":240,"wires":[["120181fa.6876be"]]},{"id":"cec2b454.8585c8","type":"switch","z":"6add85ca.568dc4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1140,"y":100,"wires":[["10abaf4b.d1f621"],["5e6b189f.347998"]]},{"id":"10abaf4b.d1f621","type":"subflow:c1fe0065.93f72","z":"6add85ca.568dc4","name":"","env":[],"x":1430,"y":80,"wires":[["5e6b189f.347998"]]},{"id":"3dc8002b.40244","type":"subflow:6add85ca.568dc4","z":"d2503df2.2c8ab","name":"","env":[],"x":600,"y":240,"wires":[["49589e99.d29b48"]]},{"id":"d44ba01c.d2bf5","type":"http in","z":"d2503df2.2c8ab","d":true,"name":"","url":"/api/locinfo/:loc","method":"get","upload":false,"swaggerDoc":"","x":150,"y":180,"wires":[["a682ca18.506f1"]]},{"id":"e526a8ec.b6dbc8","type":"function","z":"7b34e624.475d1","name":"Create query","func":"msg.payload.pro = msg.req.params.pro;\nmsg.payload.loc = msg.req.params.loc;\n\nmsg.query = {};\n\nmsg.query.start = Math.floor(msg.payload.start);\nmsg.query.end = Math.floor(msg.payload.end);\n\nmsg.query.id = msg.payload.id;\nmsg.query.pro = msg.payload.pro;\nmsg.query.loc = msg.payload.loc;\nmsg.query.res = msg.payload.res || 30;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[[]]},{"id":"19a782d3.43c73d","type":"join","z":"5609202b.02d8e","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1150,"y":100,"wires":[[]]},{"id":"82a431c6.65b36","type":"split","z":"5609202b.02d8e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":950,"y":100,"wires":[["19a782d3.43c73d"]]},{"id":"ee75497d.755f3","type":"function","z":"5609202b.02d8e","name":"","func":"msg.query.pro = msg.payload.id\n\nmsg.payload.data = \"data\"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":100,"wires":[["82a431c6.65b36"]]},{"id":"900fb7e9.09b8a8","type":"split","z":"5609202b.02d8e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":100,"wires":[["ee75497d.755f3"]]},{"id":"e4587f54.eb74f8","type":"json","z":"5609202b.02d8e","name":"","property":"payload","action":"","pretty":false,"x":530,"y":100,"wires":[["900fb7e9.09b8a8"]]},{"id":"4ed28ee7.4df268","type":"http request","z":"5609202b.02d8e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":360,"y":100,"wires":[["e4587f54.eb74f8","4ad21df4.d9d10c"]]},{"id":"17ce87a9.4ccf58","type":"function","z":"5609202b.02d8e","name":"Get url","func":"let url = \"https://vaccine.eupry.com/api/location/\" + msg.query.loc + \"/pro\";\n\nmsg.url = url;\n\nmsg.headers = {\n    Cookie: global.get(msg.payload.id)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":100,"wires":[["4ed28ee7.4df268"]]},{"id":"a3734379.6d97f8","type":"subflow:5609202b.02d8e","z":"d2503df2.2c8ab","name":"","env":[],"x":600,"y":180,"wires":[["49589e99.d29b48"]]},{"id":"a682ca18.506f1","type":"subflow:7b34e624.475d1","z":"d2503df2.2c8ab","name":"","env":[],"x":390,"y":180,"wires":[["a3734379.6d97f8"]]},{"id":"a95cd5d4.75dd28","type":"subflow:7b34e624.475d1","z":"d2503df2.2c8ab","name":"","env":[],"x":390,"y":240,"wires":[["3dc8002b.40244"]]},{"id":"cdb23033.6159b8","type":"subflow:7b34e624.475d1","z":"d2503df2.2c8ab","name":"","env":[],"x":390,"y":320,"wires":[["3a5c451e.d43102"]]},{"id":"2e6938fa.246e48","type":"subflow:77c340eb.37e7e8","z":"c1fe0065.93f72","name":"status","env":[],"x":750,"y":200,"wires":[["d8cb8fc6.bb93b8"]]},{"id":"2c8f8366.d95074","type":"function","z":"c1fe0065.93f72","name":"Format mgraph","func":"let load = [];\n\nfor (const [i, device] of Object.entries(msg.payload.devices)) {\n    let temperature = [];\n    let probe = [];\n    let humidity = [];\n    \n    // push temp\n    for (const [j, temp] of device.v.entries()) {\n        if (temp) {temperature.push({x: msg.payload.time[j]*1000, y: temp})}\n    }\n    if (temperature.length > 0) {\n        load.push(\n            {\n                name: device.name,\n                device_id: device.device_id,\n                min: device.min_v,\n                max: device.max_v,\n                mean: device.mean_v,\n                source: \"temperature\",\n                unit: \"째C\",\n                datapair: temperature,\n                data: device.v\n            }\n        )\n    }\n    \n        \n    // push probe\n    for (const [j, ext] of device.p.entries()) {\n        if (ext) {probe.push({x: msg.payload.time[j]*1000, y: ext})}\n    }\n    if (probe.length > 0) {\n        load.push(\n            {\n                name: device.name,\n                device_id: device.device_id,\n                min: device.min_p,\n                max: device.max_p,\n                mean: device.mean_p,\n                source: \"external\",\n                unit: \"째C\",\n                datapair: probe,\n                data: device.p\n            }\n        )\n    }\n    \n    // push humidity\n    for (const [j, humid] of device.h.entries()) {\n        if (humid) {humidity.push({x: msg.payload.time[j]*1000, y: humid})}\n    }\n    if (humidity.length > 0) {\n        load.push(\n            {\n                name: device.name,\n                device_id: device.device_id,\n                min: device.min_h,\n                max: device.max_h,\n                mean: device.mean_h,\n                source: \"humidity\",\n                unit: \"%\",\n                datapair: humid,\n                data: device.h\n            }\n        )\n    }\n}\n\nmsg.payload.devices = load;\nmsg.payload.time = msg.payload.time.map(function(x) { return x * 1000; });\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":920,"wires":[[]]},{"id":"8ce481e4.1d4368","type":"function","z":"abc509a9.fd5ef","name":"Format mgraph","func":"let load = [];\n\nfor (const [i, device] of Object.entries(msg.payload.devices)) {\n    let temperature = [];\n    let probe = [];\n    let humidity = [];\n    \n    // push temp\n    for (const [j, temp] of device.v.entries()) {\n        if (temp) {temperature.push({x: msg.payload.time[j]*1000, y: temp})}\n    }\n    if (temperature.length > 0) {\n        load.push(\n            {\n                name: \"temperature\",\n                device_name: device.name,\n                device_id: device.device_id,\n                min: device.min_v,\n                max: device.max_v,\n                mean: device.mean_v,\n                source: \"temperature\",\n                unit: \"째C\",\n                data: temperature\n            }\n        )\n    }\n    \n        \n    // push probe\n    for (const [j, ext] of device.p.entries()) {\n        if (ext) {probe.push({x: msg.payload.time[j]*1000, y: ext})}\n    }\n    if (probe.length > 0) {\n        load.push(\n            {\n                name: \"temperature\",\n                device_name: device.name,\n                device_id: device.device_id,\n                min: device.min_p,\n                max: device.max_p,\n                mean: device.mean_p,\n                source: \"external\",\n                unit: \"째C\",\n                data: probe\n            }\n        )\n    }\n    \n    // push humidity\n    for (const [j, humid] of device.h.entries()) {\n        if (humid) {humidity.push({x: msg.payload.time[j]*1000, y: humid})}\n    }\n    if (humidity.length > 0) {\n        load.push(\n            {\n                name: \"humidity\",\n                device_name: device.name,\n                device_id: device.device_id,\n                min: device.min_h,\n                max: device.max_h,\n                mean: device.mean_h,\n                source: \"humidity\",\n                unit: \"%\",\n                data: humidity\n            }\n        )\n    }\n}\n\nmsg.payload = load;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"de8c05bf.dad748","type":"switch","z":"b14e0716.67d4","name":"Split end-poins","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"item","vt":"str"},{"t":"hask","v":"area","vt":"str"},{"t":"hask","v":"sensor","vt":"str"},{"t":"hask","v":"transport","vt":"str"},{"t":"hask","v":"reset","vt":"str"},{"t":"hask","v":"status","vt":"str"},{"t":"hask","v":"stop","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":520,"y":240,"wires":[["9789b283.aba1a8"],["1396639.1921a9c"],["488b4b9a.8036ac"],["1d0a95b.4bea5ea"],["199239ea.1d4f46"],["f96fc1ca.c39aa"],["bc38bd13.1758c"],["c4f93914.c9815"]]},{"id":"17312505.641553","type":"function","z":"b14e0716.67d4","name":"Cookies","func":"// If no cookie, add one\nif (!Object.keys(msg.req.cookies).includes(\"id\")) {\n    msg.cookies = { };\n    msg.cookies[\"id\"] = Date.now().toString();\n    msg.req.cookies.id = msg.cookies.id;\n    msg.statusCode = 302;\n}\n\n// Add the id to the payload\nmsg.payload.id = msg.req.cookies.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":320,"wires":[["5a884479.957f7c"]]},{"id":"9789b283.aba1a8","type":"function","z":"b14e0716.67d4","name":"Store items","func":"var connection = global.get(msg.payload.id);\n\nif (connection === undefined) {\n    connection = {};\n}\n\nif (connection[\"items\"] === undefined) {\n    connection[\"items\"] = [];\n}\n\nvar pushItem = {id: msg.payload.item, desc: msg.payload.desc}\n\nvar uniqe = true;\nfor (var i in connection.items) {\n    if (connection.items[i].id == pushItem.id) {\n        uniqe = false;\n        connection.items[i].desc = pushItem.desc;\n    }\n}\n\nif (uniqe) {\n    connection.items.push(pushItem)\n}\n\nglobal.set(msg.payload.id, connection);\n\nmsg.headers = {\n    scanText: \"Scanned item: \" + msg.payload.item,\n    url: \"http://sofusa-36314.portmap.host:36314/set?stop\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":80,"wires":[["ee4415e9.e48a98"]]},{"id":"1396639.1921a9c","type":"function","z":"b14e0716.67d4","name":"Store Area","func":"var connection = global.get(msg.payload.id);\n\nif (connection === undefined) {\n    connection = {};\n}\n\nconnection.area = msg.payload.area;\nconnection.areaDesc = msg.payload.desc;\n\nmsg.headers = {\n    scanText: \"Scanned area: \" + msg.payload.area,\n    url: \"http://sofusa-36314.portmap.host:36314/set?stop\",\n    area: true,\n};\n\nglobal.set(msg.payload.id, connection);\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":120,"wires":[["ee4415e9.e48a98"]]},{"id":"2c1e2dfb.9e137a","type":"function","z":"b14e0716.67d4","name":"Queries to store in DB","func":"var connection = msg.payload;\n\nif (!connection.hasOwnProperty('area')) {\n    connection.area = 0;\n}\n\nvar now = Date.now();\n\nmsg.payload = [];\n\n// Item queries\nif ('items' in connection) {\n    for (var i in connection.items) {\n        msg.payload.push(\"INSERT OR IGNORE INTO items(id, locations, description) values(\" + connection.items[i].id + \", '\" + \"start\" + \"', '\" + connection.items[i].desc + \"')\");\n        msg.payload.push(\"UPDATE items SET location = \" + connection.area + \", locations = locations || ', {\\\"area\\\": \" + connection.area + \", \\\"time\\\": \" + now + \"}' where id = \" + connection.items[i].id);\n    }\n}\n\n// Device query\nfor (var i in connection.sensors) {\n    msg.payload.push(\"INSERT OR IGNORE INTO sensors(id, locations, description) values(\" + connection.sensors[i].id + \", '\" + \"start\" + \"', '\" + connection.sensors[i].desc + \"')\");\n    msg.payload.push(\"UPDATE sensors SET location = \" + connection.area + \", locations = locations || ', {\\\"area\\\": \" + connection.area + \", \\\"time\\\": \" + now + \"}' where id = \" + connection.sensors[i].id);\n}\n\n// areas query\nmsg.payload.push(\"INSERT OR REPLACE INTO areas(id, description) values(\" + connection.area + \", '\" + connection.areaDesc + \"')\");\n\n\n// Transport query\nif (connection.transport == \"start\") {\n    msg.payload.push(\"INSERT INTO TRANSPORTS(start, area) values(\" + now + \", \" + connection.area + \")\");\n} else if (connection.transport == \"stop\"){\n    msg.payload.push(\"UPDATE transports SET end = \" + now + \" WHERE end = 0 AND area = \" + connection.area);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1340,"y":440,"wires":[[]]},{"id":"488b4b9a.8036ac","type":"function","z":"b14e0716.67d4","name":"Store sensor","func":"var connection = global.get(msg.payload.id);\n\nif (connection === undefined) {\n    connection = {};\n}\n\nif (connection[\"sensors\"] === undefined) {\n    connection[\"sensors\"] = [];\n}\n\nvar pushItem = {id: msg.payload.sensor, desc: msg.payload.desc};\n\nvar uniqe = true;\n\nfor (var i in connection.sensors) {\n    if (connection.sensors[i].id == pushItem.id) {\n        uniqe = false;\n        connection.sensors[i].desc = pushItem.desc;\n    }\n}\n\nif (uniqe) {\n    connection.sensors.push(pushItem)\n}\n\nglobal.set(msg.payload.id, connection);\n\nmsg.headers = {\n    scanText: \"Scanned device: \" + msg.payload.sensor,\n    url: \"http://sofusa-36314.portmap.host:36314/set?stop\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["ee4415e9.e48a98"]]},{"id":"ee4415e9.e48a98","type":"function","z":"b14e0716.67d4","name":"Set msg.payload to scanned items","func":"var connection = global.get(msg.payload.id);\nmsg.payload = connection;\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":160,"wires":[[]]},{"id":"b3fd8a97.b11188","type":"function","z":"59985679.a0c38","name":"Queries","func":"msg.payload = [];\nmsg.payload.push(\"SELECT * FROM sensors ORDER BY id DESC LIMIT 100\")\nmsg.payload.push(\"SELECT * FROM areas ORDER BY id DESC LIMIT 100\");\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":280,"wires":[[]]},{"id":"201b039.fbb757c","type":"function","z":"cf9207f9.5b7e9","name":"Create start/stop","func":"var areas = [];\n\nfor (var i in msg.payload[0]) {\n\n    msg.payload[0][i].LOCATIONS = JSON.parse(\"[\" + msg.payload[0][i].LOCATIONS.split(\"start, \")[1] + \"]\");\n    //msg.payload[0][i].LOCATIONS =msg.payload[0][i].LOCATIONS.split(\"start, \")[1];\n    \n    for (var j = 0; j < msg.payload[0][i].LOCATIONS.length - 1; j++) {\n        areas.push({\n            ID: msg.payload[0][i].ID,\n            area: msg.payload[0][i].LOCATIONS[j].area,\n            start: msg.payload[0][i].LOCATIONS[j].time,\n            end: msg.payload[0][i].LOCATIONS[j+1].time,\n            desc: msg.payload[0][i].Description,\n            Location: msg.payload[0][i].Location\n        })\n        \n    }\n    \n    areas.push({\n        ID: msg.payload[0][i].ID,\n        area: msg.payload[0][i].LOCATIONS[msg.payload[0][i].LOCATIONS.length - 1].area,\n        start: msg.payload[0][i].LOCATIONS[msg.payload[0][i].LOCATIONS.length - 1].time,\n        end: 0,\n        desc: msg.payload[0][i].Description,\n        Location: msg.payload[0][i].Location\n    })\n    \n\n}\n\nmsg.payload[0] = areas;\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[[]]},{"id":"4bf84.42ba987cc","type":"function","z":"74aefff3.17838","name":"Create list of sources for each area","func":"for (var i in msg.payload[1]) { // for each area\n    msg.payload[1][i].sources = [];\n    for (var j in msg.payload[0]) {\n        \n        if (msg.payload[1][i].ID == msg.payload[0][j].area) {\n            msg.payload[1][i].sources.push(msg.payload[0][j]);\n        }\n        \n    }\n}\n\nmsg.payload = msg.payload[1];\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["8cfa9468.b363e8"]]},{"id":"e1e2dac7.db9ce","type":"function","z":"74aefff3.17838","name":"Prepare API calls to Eupry","func":"var token = \"&token=fc934f540721663b2f1acf5a1a5ca9b1c86470b4afee50d983321077c1342bd8\";\nvar api = \"https://vaccine.eupry.com/api/location/2450/profile/\";\n\n// Eupry uses timestamp in seconds, unlike javascript\nvar now = convertTime(Date.now());\n\nfor (var i in msg.payload) {\n    for (var j in msg.payload[i].sources) {\n        msg.payload[i].sources[j].data = query(\n            msg.payload[i].sources[j].ID,\n            convertTime(msg.payload[i].sources[j].start),\n            convertTime(msg.payload[i].sources[j].end)\n        );\n        msg.payload[i].sources[j].alarms = alarmQuery(\n            msg.payload[i].sources[j].ID,\n            convertTime(msg.payload[i].sources[j].start),\n            convertTime(msg.payload[i].sources[j].end)\n        );\n    }\n}\n\nfunction alarmQuery(sensor, start, end) {\n    var query = []\n    query = api + sensor + \"/alert?start=\" + start;\n    \n    if (end > 0) {\n        query = query + \"&end=\" + end;\n    } else {\n        query = query + \"&end=\" + now;\n    }\n    \n    query = query + token;\n    \n    return query;\n}\n\n\nfunction query(sensor, start, end) {\n    var query = [];\n    \n    //start = start - 5 * 60;\n    \n    query = api + sensor + \"/graph?res=1&start=\" + start;\n    \n    if (end > 0) {\n        query = query + \"&end=\" + end;\n    } else {\n        query = query + \"&end=\" + now;\n    }\n    \n    query = query + token;\n    \n    return query;\n}\n\nfunction convertTime(time) {\n    return Math.round(time/1000)\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":320,"wires":[["c5d167d1.2ef57","a8781ebd.c40fb8"]]},{"id":"24261056.90b99","type":"split","z":"ba387a07.20941","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":320,"wires":[["a52eb6b3.4d788"]]},{"id":"a52eb6b3.4d788","type":"split","z":"ba387a07.20941","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":380,"wires":[["d0b932fa.60287"]]},{"id":"9bc59874.25d2","type":"switch","z":"ba387a07.20941","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"https://","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":240,"wires":[["77134317.f263ec"],["9369c06e.328fe"]]},{"id":"71c9c537.9b896c","type":"json","z":"ba387a07.20941","name":"","property":"payload","action":"","pretty":false,"x":570,"y":80,"wires":[["9369c06e.328fe"]]},{"id":"7c9f7a75.dbcbd4","type":"http request","z":"ba387a07.20941","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","authType":"","x":570,"y":120,"wires":[["71c9c537.9b896c"]]},{"id":"77134317.f263ec","type":"change","z":"ba387a07.20941","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[["7c9f7a75.dbcbd4"]]},{"id":"d0b932fa.60287","type":"switch","z":"ba387a07.20941","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":440,"wires":[["ce22651b.733b88"],["dfb69f58.e54b48"]]},{"id":"ce22651b.733b88","type":"split","z":"ba387a07.20941","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":360,"wires":[["dc597b9d.c66328"]]},{"id":"2872e4c6.7f2cf4","type":"join","z":"ba387a07.20941","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":830,"y":140,"wires":[["dfb69f58.e54b48"]]},{"id":"dfb69f58.e54b48","type":"join","z":"ba387a07.20941","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1010,"y":260,"wires":[["1314f671.b33daa"]]},{"id":"1314f671.b33daa","type":"join","z":"ba387a07.20941","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1010,"y":300,"wires":[["76796306.ea4bd4"]]},{"id":"dc597b9d.c66328","type":"split","z":"ba387a07.20941","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":300,"wires":[["9bc59874.25d2"]]},{"id":"9369c06e.328fe","type":"join","z":"ba387a07.20941","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":830,"y":180,"wires":[["2872e4c6.7f2cf4"]]},{"id":"c5d167d1.2ef57","type":"subflow:ba387a07.20941","z":"74aefff3.17838","name":"","env":[],"x":1410,"y":120,"wires":[[]]},{"id":"76796306.ea4bd4","type":"function","z":"ba387a07.20941","name":"Create data sum","func":"for (var i in msg.payload) {\n    msg.payload[i].temperature = [];\n    for (var j in msg.payload[i].sources) {\n        for (var k in msg.payload[i].sources[j].data) {\n            \n            msg.payload[i].temperature.push(msg.payload[i].sources[j].data[k]);\n        }\n    }\n    msg.payload[i].temperature = sortByKey(msg.payload[i].temperature, \"time\");\n}\n\n\nreturn msg;\n\nfunction sortByKey(array, key) {\n    return array.sort(function(a, b) {\n        var x = a[key]; var y = b[key];\n        return ((x < y) ? -1 : ((x > y) ? 1 : 0));\n    });\n}","outputs":1,"noerr":0,"x":1210,"y":300,"wires":[[]]},{"id":"e3a9fd55.df71b","type":"function","z":"d40564b2.7cd5b8","name":"Queries","func":"msg.topic = \"SELECT * FROM items ORDER BY id DESC LIMIT 100\"\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"a45d003d.eb9618","type":"subflow:cf9207f9.5b7e9","z":"74aefff3.17838","name":"","env":[],"x":190,"y":320,"wires":[["4bf84.42ba987cc"]]},{"id":"3ffad08.2e1ab3","type":"subflow:cf9207f9.5b7e9","z":"d40564b2.7cd5b8","name":"","env":[],"x":490,"y":320,"wires":[["68c6f66b.d5acb"]]},{"id":"f9860309.48626","type":"function","z":"d40564b2.7cd5b8","name":"Preformat","func":"msg.payload = [msg.payload]\nmsg.payload.push(\"areas\")\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":240,"wires":[["3ffad08.2e1ab3"]]},{"id":"68c6f66b.d5acb","type":"split","z":"d40564b2.7cd5b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":200,"wires":[["e80a60b2.dd5a4"]]},{"id":"e80a60b2.dd5a4","type":"switch","z":"d40564b2.7cd5b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"areas","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":200,"wires":[["38235f47.d49408"],["a578e481.d858"]]},{"id":"34a77032.7f2eb8","type":"subflow:59985679.a0c38","z":"d40564b2.7cd5b8","name":"","env":[],"x":920,"y":100,"wires":[["a578e481.d858"]]},{"id":"a578e481.d858","type":"join","z":"d40564b2.7cd5b8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":910,"y":200,"wires":[["95859b8b.f718a"]]},{"id":"95859b8b.f718a","type":"function","z":"d40564b2.7cd5b8","name":"Match temperatures","func":"for (var i in msg.payload[0]) {\n    for (var j in msg.payload[1]) {\n        if (msg.payload[0][i].area == msg.payload[1][j].ID) {\n            var areaTemp = msg.payload[1][j].temperature.map(element => element.time);\n            \n            var start = closest(areaTemp, convertTime(msg.payload[0][i].start)), end;\n            \n            if (msg.payload[0][i].end < 1) {\n                end = areaTemp.length;\n            } else {\n                end = Number(closest(areaTemp, convertTime(msg.payload[0][i].end)));\n            }\n            \n            msg.payload[0][i].temperature = msg.payload[1][j].temperature.slice(start, end);\n        }\n    }\n}\n\nmsg.payload = msg.payload[0]\n\nreturn msg;\n\nfunction closest(list, x) {\n    var min,\n        chosen = 0;\n    for (var i in list) {\n        min = Math.abs(list[chosen] - x);\n        if (Math.abs(list[i] - x) < min) {\n            chosen = i;\n        }\n    }\n    return chosen;\n}\n\nfunction convertTime(time) {\n    return Math.round(time/1000)\n}","outputs":1,"noerr":0,"x":1140,"y":200,"wires":[["3bb167c4.4e0728"]]},{"id":"3bb167c4.4e0728","type":"function","z":"d40564b2.7cd5b8","name":"Move up desc, ID, and location","func":"for (var k = 0; k < msg.payload.length; k++) {\n/*    if (msg.payload[k].temperature.length < 1) {\n        msg.payload.splice(k, 1);\n        k = k - 1;\n        continue;\n    }*/\n    \n    msg.payload[k] = {\n        ID: msg.payload[k].ID,\n        Location: msg.payload[k].Location,\n        ...( msg.payload[k].desc != \"undefined\" && {desc: msg.payload[k].desc}),\n        sources: msg.payload[k]\n\n    }\n    delete msg.payload[k].sources.ID;\n    delete msg.payload[k].sources.desc;\n    delete msg.payload[k].sources.Location;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":300,"wires":[["6b71fe05.2f572"]]},{"id":"6b71fe05.2f572","type":"function","z":"d40564b2.7cd5b8","name":"condence","func":"for (var i = 0; i < msg.payload.length - 1; i++) {\n    if (!(msg.payload[i].sources instanceof Array)) {\n        msg.payload[i].sources = [msg.payload[i].sources];\n    }\n    if (msg.payload[i].ID == msg.payload[i+1].ID) {\n        msg.payload[i].sources.push(msg.payload[i+1].sources);\n        msg.payload.splice(i+1,1);\n        i = i - 1;\n    } \n}\n\n// If last scan is not an array, which happends if the two last scans is not a match\nif (!(msg.payload[msg.payload.length - 1].sources instanceof Array)) {\n    msg.payload[msg.payload.length - 1].sources = [msg.payload[msg.payload.length - 1].sources];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":420,"wires":[[]]},{"id":"c4f93914.c9815","type":"function","z":"b14e0716.67d4","name":"Error msg","func":"msg.payload = \"Error\"\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":340,"wires":[[]]},{"id":"bc38bd13.1758c","type":"function","z":"b14e0716.67d4","name":"Set msg.payload to scanned items","func":"var connection = global.get(msg.payload.id);\nglobal.set(msg.payload.id, undefined);\nmsg.payload = connection;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":360,"wires":[["3fdc2e1b.cf67fa"]]},{"id":"3fdc2e1b.cf67fa","type":"switch","z":"b14e0716.67d4","name":"Error check","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":440,"wires":[["c4f93914.c9815"],["f8b0ab09.44bef","2c1e2dfb.9e137a","5c8001a3.6fc8e8"]]},{"id":"f8b0ab09.44bef","type":"function","z":"b14e0716.67d4","name":"Success msg","func":"msg.payload = \"Success\"\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":380,"wires":[[]]},{"id":"c687e699.abc5a","type":"join","z":"59985679.a0c38","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":410,"y":320,"wires":[["5130c0f4.2f46d8"]]},{"id":"199239ea.1d4f46","type":"function","z":"b14e0716.67d4","name":"Reset","func":"global.set(msg.payload.id, undefined);\n\nmsg.payload = \"Reset\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":200,"wires":[[]]},{"id":"b50c0cf4.5ee318","type":"comment","z":"b14e0716.67d4","name":"Insert ID cookie if none exist","info":"","x":140,"y":360,"wires":[]},{"id":"5a884479.957f7c","type":"function","z":"b14e0716.67d4","name":"Reset timer","func":"// Check time since last scan\nvar connection = global.get(msg.payload.id);\nvar now = Date.now();\n\nif (connection === undefined) {\n    connection = {};\n} else if (now - connection.lastScan > 10 * 60 * 1000) { // 10 minutes\n        global.set(msg.req.cookies.id, undefined);\n        return msg;\n}\n\nconnection.lastScan = now;\nglobal.set(msg.req.cookies.id, connection);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["de8c05bf.dad748"]]},{"id":"199a9c8d.64aa53","type":"comment","z":"b14e0716.67d4","name":"Reset scan after 10 minutes","info":"","x":300,"y":200,"wires":[]},{"id":"f2fd5975.a6c62","type":"comment","z":"b14e0716.67d4","name":"Redirect different end-points","info":"","x":560,"y":140,"wires":[]},{"id":"9e4dc764.cd5968","type":"comment","z":"b14e0716.67d4","name":"Store data from scan in variable based on cookie","info":"","x":860,"y":40,"wires":[]},{"id":"f3a2a77e.3a8968","type":"comment","z":"b14e0716.67d4","name":"Set payload for easier debugging","info":"","x":1370,"y":120,"wires":[]},{"id":"27715e0.bad8122","type":"comment","z":"59985679.a0c38","name":"SQL Query to retrieve areas and sensors","info":"","x":260,"y":240,"wires":[]},{"id":"507c088f.db18e","type":"comment","z":"74aefff3.17838","name":"Format each scan to include start and stop timecodes","info":"","x":200,"y":360,"wires":[]},{"id":"bbf3a970.b72d78","type":"comment","z":"74aefff3.17838","name":"Each sources must be replaced with real data from Eupry","info":"","x":1210,"y":360,"wires":[]},{"id":"acafefd9.c29848","type":"comment","z":"74aefff3.17838","name":"Splits up input into strings, each string which is an url is replaced with its response","info":"","x":1410,"y":80,"wires":[]},{"id":"193bbe78.4a720a","type":"comment","z":"d40564b2.7cd5b8","name":"SQL Query to retrieve items","info":"","x":200,"y":40,"wires":[]},{"id":"7be61c8c.2f518c","type":"comment","z":"d40564b2.7cd5b8","name":"Format to be able to re-use next node","info":"","x":190,"y":280,"wires":[]},{"id":"1eae6027.1ea1d8","type":"comment","z":"d40564b2.7cd5b8","name":"Reuse node from \"getareas\" flow","info":"","x":470,"y":360,"wires":[]},{"id":"e72d4a48.7bc1e8","type":"comment","z":"d40564b2.7cd5b8","name":"Replace area part of payload with data from getareas","info":"","x":800,"y":40,"wires":[]},{"id":"7d07dbae.71ddfc","type":"comment","z":"d40564b2.7cd5b8","name":"Slice the data where x item was in y area","info":"","x":1200,"y":160,"wires":[]},{"id":"3af4ccae.1d0c54","type":"comment","z":"d40564b2.7cd5b8","name":"Combine instances of the same items","info":"","x":1050,"y":460,"wires":[]},{"id":"2264f21d.66cd5e","type":"function","z":"792015e8.9c4d54","name":"Set alarm configuration on sensors","func":"var token = \"?token=fc934f540721663b2f1acf5a1a5ca9b1c86470b4afee50d983321077c1342bd8\";\nvar api = \"https://vaccine.eupry.com/api/location/2450/profile/\";\n\n// Standard msg for Eupry.\nvar config = {\n    \"crit_high\": 999,\n    \"crit_low\": -999,\n    \"high\":999,\n    \"low\": -999,\n    \"greyzone_duration\": 0\n};\n\n\n// If there is areaDesc, parse it and replace keys with standard config\nif (msg.payload.areaDesc !== undefined) {\n    var areaConfig = JSON.parse(msg.payload.areaDesc); \n    \n    // When greyzones are disabled, must crit and non-crit be equal\n    // If there is no duration, but high or low is, set standard duration of 1 hour\n    if (!areaConfig.hasOwnProperty(\"duration\")) {\n        if (areaConfig.hasOwnProperty(\"high\") || areaConfig.hasOwnProperty(\"low\")) {\n            areaConfig[\"greyzone_duration\"] = 3600;\n        } else {\n            areaConfig[\"high\"] = areaConfig[\"crit_high\"];\n            areaConfig[\"low\"] = areaConfig[\"crit_low\"];\n        }\n    } else { // Rename duration to greyzone_duration\n        areaConfig[\"greyzone_duration\"] = areaConfig[\"duration\"];\n        delete areaConfig[\"duration\"];\n    }\n    \n    // Replace values, keeping what is not changed\n    Object.keys(areaConfig).forEach(function(key) {\n        config[key] = areaConfig[key];\n    });\n}\n\nvar output = [];\n\nfor (var i in msg.payload.sensors) {\n    output.push(query(msg.payload.sensors[i].id, JSON.stringify(config)));\n}\n\nmsg.payload = output;\n\nreturn msg;\n\nfunction query(id, desc) {\n    var query = {};\n    query.payload = desc;\n    query.url = api + id + \"/config\" + token;\n    \n    return query;\n}","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["beac7b39.99d86"]]},{"id":"d23c30b4.34f2b","type":"http request","z":"792015e8.9c4d54","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":970,"y":100,"wires":[[]]},{"id":"beac7b39.99d86","type":"split","z":"792015e8.9c4d54","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":140,"wires":[["333502b0.a995ee"]]},{"id":"8e40e208.f7d318","type":"change","z":"792015e8.9c4d54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":260,"wires":[["b77aca3b.00086"]]},{"id":"333502b0.a995ee","type":"change","z":"792015e8.9c4d54","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[["8e40e208.f7d318"]]},{"id":"b77aca3b.00086","type":"delay","z":"792015e8.9c4d54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":180,"wires":[["d23c30b4.34f2b"]]},{"id":"5c8001a3.6fc8e8","type":"subflow:792015e8.9c4d54","z":"b14e0716.67d4","name":"","env":[],"x":1350,"y":560,"wires":[]},{"id":"d3836a8a.5412","type":"comment","z":"b14e0716.67d4","name":"Each sensor inherit alarm config from area","info":"","x":1400,"y":520,"wires":[]},{"id":"a7f6ab98.a094","type":"function","z":"74aefff3.17838","name":"Limit to one day","func":"var maxStartTime = Date.now();\nvar limit = 24 * 60 * 60 * 1000; // one day\nmaxStartTime = maxStartTime - limit; // set correct maxStartTime\n\nfor (var row in msg.payload) {\n    for (var source = 0; source < msg.payload[row].sources.length; source++) {\n        if (msg.payload[row].sources[source].end === 0) {\n            \n            // Limit the start to maxStartTime;\n            if (msg.payload[row].sources[source].start < maxStartTime) {\n                msg.payload[row].sources[source].start = maxStartTime;\n            }\n            \n            // Limit end to minTime;\n            \n            \n        } else {\n            \n            // Drop source, if end is after max time\n            if (msg.payload[row].sources[source].end < maxStartTime) {\n                msg.payload[row].sources.splice(source, 1)\n                source = source - 1;\n                continue;\n            }\n        }\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":420,"wires":[["e1e2dac7.db9ce"]]},{"id":"8cfa9468.b363e8","type":"switch","z":"74aefff3.17838","name":"Allow skipping time limitation","property":"timeLimit","propertyType":"msg","rules":[{"t":"false"},{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":260,"wires":[["e1e2dac7.db9ce"],["7aa2eea0.916f58"],["a7f6ab98.a094"]]},{"id":"38235f47.d49408","type":"change","z":"d40564b2.7cd5b8","name":"Skip 1 day limitation","rules":[{"t":"set","p":"timeLimit","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["34a77032.7f2eb8"]]},{"id":"5f2e4f0b.b9b62","type":"comment","z":"74aefff3.17838","name":"Limits area data to the past one day","info":"","x":800,"y":460,"wires":[]},{"id":"1d0a95b.4bea5ea","type":"function","z":"b14e0716.67d4","name":"Store transport","func":"var connection = global.get(msg.payload.id);\n\nif (connection === undefined) {\n    connection = {};\n}\n\nconnection.transport = msg.payload.transport;\n\nmsg.headers = {\n    scanText: \"Initated Transport\",\n    url: \"http://sofusa-36314.portmap.host:36314/set?stop\",\n    transport: true,\n};\n\nglobal.set(msg.payload.id, connection);\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":200,"wires":[["ee4415e9.e48a98"]]},{"id":"7aa2eea0.916f58","type":"function","z":"74aefff3.17838","name":"Limit to specified","func":"var maxEndTime = msg.timeLimit.end,\n    //allowance = 5 * 60 * 1000,\n    maxStartTime = msg.timeLimit.start;// - allowance;\n    \nif (maxEndTime !== 0) {\n    maxEndTime = maxEndTime;// + allowance;\n}\n\nfor (var row in msg.payload) {\n    for (var source = 0; source < msg.payload[row].sources.length; source++) {\n        if (msg.payload[row].sources[source].end === 0) {\n            if (maxEndTime !== 0) {\n\n                // Limit the start to maxStartTime;\n                if (msg.payload[row].sources[source].start < maxStartTime) {\n                    msg.payload[row].sources[source].start = maxStartTime;\n                }\n                \n                // Limit end to minTime;\n                msg.payload[row].sources[source].end = maxEndTime;\n            }\n            \n        } else {\n            \n            // Drop source, if end is after max time\n            if (msg.payload[row].sources[source].end < maxStartTime) {\n                //msg.payload[row].sources.splice(source, 1)\n                //source = source - 1;\n                msg.payload[row].sources[source].end = maxEndTime;\n                continue;\n            } \n            \n            // Drop source, if start is after max time\n            if (msg.payload[row].sources[source].start < maxEndTime) {\n                //msg.payload[row].sources.splice(source, 1)\n                //source = source - 1;\n                msg.payload[row].sources[source].start = maxStartTime;\n                msg.payload[row].sources[source].end = maxEndTime;\n                continue;\n            } \n            \n            // Limit end time to maxEndTime\n/*            if (msg.payload[row].sources[source].end > maxEndTime) {\n                msg.payload[row].sources[source].end = maxEndTime;\n            } */\n            \n        }\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":320,"wires":[["e1e2dac7.db9ce"]]},{"id":"5130c0f4.2f46d8","type":"subflow:74aefff3.17838","z":"59985679.a0c38","name":"","env":[],"x":630,"y":240,"wires":[[]]},{"id":"d53318dc.c65be","type":"function","z":"a02bf0f4.35213","name":"Queries","func":"msg.topic = \"SELECT * FROM transports ORDER BY Start DESC LIMIT 10\";\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":460,"wires":[[]]},{"id":"32cbf855.3a9938","type":"split","z":"a02bf0f4.35213","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":580,"wires":[["cedc8606.4becf8"]]},{"id":"cedc8606.4becf8","type":"function","z":"a02bf0f4.35213","name":"Queries","func":"var output = [];\n\noutput.push(\"SELECT * FROM sensors ORDER BY id DESC LIMIT 100\")\noutput.push(\"SELECT * FROM areas WHERE id = \" + msg.payload.AREA + \" ORDER BY id DESC LIMIT 100\");\n\nmsg.timeLimit = {\n    start: msg.payload.START,\n    end: msg.payload.END\n};\n\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":520,"wires":[[]]},{"id":"c8de6443.8c1a38","type":"join","z":"a02bf0f4.35213","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":890,"y":220,"wires":[["8367293.ea84bd8"]]},{"id":"202c4fcb.5caf88","type":"subflow:74aefff3.17838","z":"a02bf0f4.35213","name":"","env":[],"x":1210,"y":400,"wires":[["40402df3.35389c"]]},{"id":"36e176a5.93beba","type":"join","z":"a02bf0f4.35213","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":2110,"y":400,"wires":[["80c63580.2d4bd8"]]},{"id":"8367293.ea84bd8","type":"function","z":"a02bf0f4.35213","name":"Append times into output","func":"msg.payload[1][0].start = msg.timeLimit.start;\nmsg.payload[1][0].end = msg.timeLimit.end;\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":220,"wires":[["202c4fcb.5caf88"]]},{"id":"80c63580.2d4bd8","type":"subflow:cf9207f9.5b7e9","z":"a02bf0f4.35213","name":"","env":[],"x":2230,"y":500,"wires":[["5250cf01.81f4f"]]},{"id":"40402df3.35389c","type":"function","z":"a02bf0f4.35213","name":"Preformat","func":"msg.payload.unshift(\"items\");\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":340,"wires":[["7f6efad5.229ee4"]]},{"id":"7f6efad5.229ee4","type":"split","z":"a02bf0f4.35213","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1590,"y":340,"wires":[["40501502.08af44"]]},{"id":"40501502.08af44","type":"switch","z":"a02bf0f4.35213","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"items","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1750,"y":340,"wires":[["d286d02c.cad658"],["36e176a5.93beba"]]},{"id":"d286d02c.cad658","type":"function","z":"a02bf0f4.35213","name":"Queries","func":"msg.topic = \"SELECT * FROM items ORDER BY id DESC LIMIT 100\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1860,"y":280,"wires":[[]]},{"id":"5250cf01.81f4f","type":"function","z":"a02bf0f4.35213","name":"Filter items into transports","func":"msg.payload[1].items = [];\n\nfor (var i in msg.payload[0]) {\n    if (msg.payload[0][i].area == msg.payload[1].ID) {\n        \n        // push if item added after transport began, if item has has not ended before transport started\n        if (msg.payload[0][i].start >= msg.payload[1].start && msg.payload[0][i].end >= msg.payload[1].start) {\n                msg.payload[1].items.push(msg.payload[0][i])\n        }\n        \n        // push if item added while transport is active and never left :'(\n        if (msg.payload[0][i].start >= msg.payload[1].start && msg.payload[0][i].end === 0 && msg.payload[1].end === 0) {\n                msg.payload[1].items.push(msg.payload[0][i])\n        }\n    }\n}\n\nmsg.payload = msg.payload[1];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2400,"y":360,"wires":[["cf08509a.fb053"]]},{"id":"cf08509a.fb053","type":"join","z":"a02bf0f4.35213","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":2590,"y":220,"wires":[[]]},{"id":"f96fc1ca.c39aa","type":"function","z":"b14e0716.67d4","name":"Set msg.payload to scanned items","func":"var connection = global.get(msg.payload.id);\nmsg.payload = connection;\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":240,"wires":[[]]},{"id":"a8781ebd.c40fb8","type":"debug","z":"74aefff3.17838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":300,"wires":[]},{"id":"8f1cba5.26c4648","type":"comment","z":"a02bf0f4.35213","name":"Get transport table","info":"","x":270,"y":420,"wires":[]},{"id":"b70984d5.f0f6","type":"comment","z":"a02bf0f4.35213","name":"Get Areas table","info":"","x":680,"y":560,"wires":[]},{"id":"5c3135f6.a53794","type":"comment","z":"a02bf0f4.35213","name":"Set Start/stop values for each transport","info":"","x":1090,"y":180,"wires":[]},{"id":"f401f460.38c538","type":"comment","z":"a02bf0f4.35213","name":"Use Area flow to format and get data from Eupry","info":"","x":1220,"y":440,"wires":[]},{"id":"9325fe82.1b079","type":"comment","z":"a02bf0f4.35213","name":"Get items table","info":"","x":1920,"y":240,"wires":[]},{"id":"ccdddf0f.36a688","type":"comment","z":"a02bf0f4.35213","name":"Format item data","info":"","x":2220,"y":540,"wires":[]},{"id":"f92600ab.1ff26","type":"comment","z":"a02bf0f4.35213","name":"Combine transport data with item data","info":"","x":2390,"y":320,"wires":[]},{"id":"376e30ac.19f5c","type":"subflow:abc509a9.fd5ef","z":"c1fe0065.93f72","name":"","env":[],"x":980,"y":80,"wires":[["d8cb8fc6.bb93b8"]]},{"id":"dc7c0b63.d4dcc","type":"function","z":"c1fe0065.93f72","name":"door detections","func":"msg.topic = \"Select * From detectionProbability where \" +\n            \"loc = \" + msg.query.loc + \" AND \" +\n            \"pro = \" + msg.query.pro + \" AND \" +\n            \"time < \" + msg.query.end + \" AND \" +\n            \"time > \" + msg.query.start\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":260,"wires":[["9454ad71.3db4a"]]},{"id":"9454ad71.3db4a","type":"sqlite","z":"c1fe0065.93f72","mydb":"618f0782.850e5","sqlquery":"msg.topic","sql":"","name":"DB","x":990,"y":260,"wires":[["d8cb8fc6.bb93b8"]]},{"id":"2f212b9.68b2fd4","type":"debug","z":"5609202b.02d8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":200,"wires":[]},{"id":"4ad21df4.d9d10c","type":"change","z":"5609202b.02d8e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Get profil call","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":200,"wires":[["2f212b9.68b2fd4"]]},{"id":"56f32e84.928698","type":"debug","z":"6add85ca.568dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":200,"wires":[]},{"id":"41ed625d.c4af2c","type":"change","z":"6add85ca.568dc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Get all profiles call","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["56f32e84.928698"]]},{"id":"71086ea3.ea3d3","type":"debug","z":"77c340eb.37e7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":160,"wires":[]},{"id":"16efa92f.a3c517","type":"change","z":"77c340eb.37e7e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Get one call","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["71086ea3.ea3d3"]]},{"id":"2803aae8.eb9546","type":"subflow:77c340eb.37e7e8","z":"c1fe0065.93f72","name":"status","env":[],"x":750,"y":300,"wires":[["d8cb8fc6.bb93b8"]]},{"id":"9436654f.6dc198","type":"comment","z":"366a3132.59cece","name":"API input settings","info":"","x":160,"y":660,"wires":[]},{"id":"6e1eff53.33f938","type":"http in","z":"366a3132.59cece","name":"","url":"/api/setin","method":"get","upload":false,"swaggerDoc":"","x":150,"y":700,"wires":[["a07f217b.d3376","3769c197.b2f08e"]]},{"id":"a07f217b.d3376","type":"subflow:fb7e288d.6d7eb8","z":"366a3132.59cece","name":"","env":[],"x":220,"y":760,"wires":[["8c2a8508.5f252"]]},{"id":"8c2a8508.5f252","type":"http response","z":"366a3132.59cece","name":"","statusCode":"","headers":{},"x":250,"y":840,"wires":[]},{"id":"3769c197.b2f08e","type":"function","z":"366a3132.59cece","name":"set query","func":"msg.topic = \"REPLACE into profiles (loc, pro, shadow, data) \" +\n    \"values (\" +\n    msg.payload.loc + \", \" +\n    msg.payload.pro + \", \" +\n    msg.payload.shadow + \", \" +\n    JSON.stringify(msg.payload.data).replace(/\\\\\"/g, \"/\") + \")\";\n\n\nreturn msg","outputs":1,"noerr":0,"x":520,"y":580,"wires":[["28139722.edfee8"]]},{"id":"da0888b1.6d841","type":"function","z":"366a3132.59cece","name":"set query","func":"msg.topic = \"Select data From profiles where \" + \n                \"loc = \" + msg.payload.loc + \" AND \" +\n                \"pro = \" + msg.payload.pro + \" AND \" + \n                \"shadow = \" + msg.payload.shadow\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1000,"wires":[["555cb65c.5d8fd8"]]},{"id":"555cb65c.5d8fd8","type":"sqlite","z":"366a3132.59cece","mydb":"618f0782.850e5","sqlquery":"msg.topic","sql":"","name":"database","x":580,"y":1000,"wires":[["53b45be6.c50b3c","a34fd831.d92fd"]]},{"id":"b0b3dfbe.c2768","type":"http in","z":"366a3132.59cece","name":"","url":"/api/getsettings","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1000,"wires":[["da0888b1.6d841"]]},{"id":"6724f35c.1b565c","type":"subflow:fb7e288d.6d7eb8","z":"366a3132.59cece","name":"","env":[],"x":1040,"y":1000,"wires":[["9996f0f5.f5d5d8"]]},{"id":"9996f0f5.f5d5d8","type":"http response","z":"366a3132.59cece","name":"","statusCode":"","headers":{},"x":1230,"y":1000,"wires":[]},{"id":"dff9e79e.66f978","type":"comment","z":"366a3132.59cece","name":"API output settings","info":"","x":170,"y":960,"wires":[]},{"id":"dd703ca6.523868","type":"inject","z":"366a3132.59cece","name":"Create database tables","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":360,"y":240,"wires":[["ec5e495c.a38c9"]]},{"id":"ec5e495c.a38c9","type":"function","z":"366a3132.59cece","name":"Create","func":"msg.payload = \"CREATE TABLE profiles(\" +\n    \"loc INT NOT NULL, \" +\n    \"pro INT NOT NULL, \" +\n    \"shadow INT PRIMARY KEY NOT NULL, \" +\n    \"data text not null \" +\n    \")\"\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["c62a12c1.76041"]]},{"id":"c62a12c1.76041","type":"change","z":"366a3132.59cece","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":240,"wires":[["28139722.edfee8"]]},{"id":"28139722.edfee8","type":"sqlite","z":"366a3132.59cece","mydb":"618f0782.850e5","sqlquery":"msg.topic","sql":"","name":"database","x":1080,"y":300,"wires":[["ea6e005e.c6df2"]]},{"id":"ea6e005e.c6df2","type":"debug","z":"366a3132.59cece","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":300,"wires":[]},{"id":"b6227590.c493a8","type":"comment","z":"366a3132.59cece","name":"Create database","info":"","x":380,"y":200,"wires":[]},{"id":"5a4705f6.707b9c","type":"inject","z":"366a3132.59cece","name":"Drop database tables","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":360,"y":300,"wires":[["8a15d2a1.cbbfb8"]]},{"id":"8a15d2a1.cbbfb8","type":"function","z":"366a3132.59cece","name":"Drop","func":"msg.payload = \"drop table profiles\"\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["e85cbbe8.b66c6"]]},{"id":"262f83b.76575fc","type":"inject","z":"366a3132.59cece","name":"show profiles table","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Select * From profiles","payloadType":"str","x":370,"y":160,"wires":[["d243b4ba.cd2e48"]]},{"id":"d243b4ba.cd2e48","type":"change","z":"366a3132.59cece","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":180,"wires":[["28139722.edfee8"]]},{"id":"eb3fbd54.3dd728","type":"function","z":"366a3132.59cece","name":"format output","func":"if (msg.payload.length == 1) {\n    msg.payload = msg.payload[0]\n} else {\n    msg.payload = 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":860,"wires":[["53b45be6.c50b3c"]]},{"id":"e85cbbe8.b66c6","type":"change","z":"366a3132.59cece","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":300,"wires":[["28139722.edfee8"]]},{"id":"c3141f97.bd0ec","type":"comment","z":"366a3132.59cece","name":"Set normal settings in profiles","info":"","x":460,"y":540,"wires":[]},{"id":"f56a1693.0c8cc8","type":"debug","z":"51de7640.850408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":780,"y":80,"wires":[]},{"id":"53b45be6.c50b3c","type":"debug","z":"366a3132.59cece","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":900,"wires":[]},{"id":"a34fd831.d92fd","type":"change","z":"366a3132.59cece","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1000,"wires":[["6724f35c.1b565c"]]},{"id":"e93a9ddb.faf5","type":"http in","z":"51de7640.850408","name":"","url":"/api/setconfig/:loc/:pro/:shadow/:id/","method":"get","upload":false,"swaggerDoc":"","x":210,"y":600,"wires":[["99927d1b.81fe3","6a192004.64d6d"]]},{"id":"99927d1b.81fe3","type":"debug","z":"51de7640.850408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":600,"wires":[]},{"id":"b57c3474.ca71","type":"http response","z":"51de7640.850408","name":"","statusCode":"","headers":{},"x":570,"y":760,"wires":[]},{"id":"6a192004.64d6d","type":"function","z":"51de7640.850408","name":"","func":"msg.payload = \"success\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":700,"wires":[["b57c3474.ca71"]]}]